*{
    box-sizing: content-box;
    font-family: 'Ubuntu Mono', monospace;
}
body{
    margin: 0;
    text-align: center;
    background-color: #CCE6F4;
}
.logo{
    font-size: 120px;
    color:#BA324F
}

.result-title{
    font-size:70px;
    color: #175676;
}
.result-winner{
    font-size: 100px;
    color: #BA324F;
}
.result-msg{
    font-size:50px;
    color: #4BA3C3;
}

.player-choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 30px;
}
button{
    width: 100px;
    height:100px;
    font-size: 30px;
    border-radius: 30px;
    border: 2px solid #175676;
    color: #175676;
    flex: 1 0 auto;
}